.cartModal {
	margin-bottom: 20px;
	margin-top: 20px;
	color: white;
	text-decoration: none;
	background-color: #242424;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	padding: 1rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cartPrice {
	display: flex;
	flex-direction: column;
}
.cartTitle {
	font-size: 24px; /* Увеличенный размер шрифта для названия */
	margin: 0; /* Убираем отступы */
	margin-bottom: 20px;
}
.cartItogo {
	color: #b20522;
	font-weight: bold;
	font-size: 22px;
}
.cartDeliveryPrice {
	font-weight: bold;
	font-size: 18px;
}
.cartAmount {
	font-weight: bold;
	font-size: 20px;
}
.cartHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cartItems {
	background-color: #242424;
	overflow-y: auto; /* Прокрутка при переполнении */
}

.cartItem {
	background-color: #242424;
	display: flex;
	justify-content: space-around; /* Разделяем название и количество */
	align-items: center;
	margin-bottom: 20px;
}

.itemName {
	font-size: 22px; /* Увеличенный размер шрифта для названия блюда */
	display: block; /* Делаем элемент блочным для переноса */
}
.amount {
	font-size: 18px;
}
.extraIngredientsList {
	list-style-type: none; /* Убираем маркеры списка */
	padding-left: 0; /* Убираем отступ слева */
	align-items: center;
	margin: 5px 0 0 0; /* Отступ сверху для списка */
	font-size: 16px; /* Размер шрифта для дополнительных ингредиентов */
}
.quantity {
	font-size: 20px !important;
}
.quantityControls {
	background-color: #242424;
	gap: 20px;
	font-weight: bold;
	color: white;
	display: flex;
	align-items: center; /* Выравнивание по центру */
}
.quantityControl {
	font-size: 20px;
	color: white;
	background-color: #1a1a1a;
}
.orderButton {
	background-color: #b20522; /* Цвет кнопки */
	color: white; /* Цвет текста кнопки */
	border: none; /* Убираем границу */
	padding: 10px 15px; /* Отступы для кнопки */
	border-radius: 5px; /* Радиус углов кнопки */
	cursor: pointer; /* Курсор при наведении */
	margin-top: 20px; /* Отступ сверху */
}
.orderButton:hover {
	scale: 1.05;
}
@media (max-width: 700px) {
	.cartTitle {
		font-size: 18px;
	}
}
.cartItem {
	background-color: #242424;
	display: flex;
	justify-content: space-between; /* Разделяем элементы по краям */
	align-items: center; /* Выравнивание по центру */
	margin-bottom: 20px;
	padding: 10px; /* Добавим отступы для лучшего визуального восприятия */
}

.itemName {
	font-size: 22px; /* Увеличенный размер шрифта для названия блюда */
	flex: 1; /* Позволяет элементу занимать свободное пространство */
	text-align: left; /* Выравнивание текста по левому краю */
}

.quantityControls {
	background-color: #242424;
	gap: 10px; /* Уменьшаем расстояние между кнопками */
	font-weight: bold;
	color: white;
	display: flex;
	align-items: center; /* Выравнивание по центру */
	flex: 0 0 auto; /* Не позволяем этому элементу растягиваться */
}

.amount {
	font-size: 18px;
	flex: 0 0 100px; /* Устанавливаем фиксированную ширину для цены */
	text-align: right; /* Выравнивание текста по правому краю */
}
