.notification {
	display: flex;
	align-items: center;
	padding: 16px;
	margin: 0 auto;
	width: 50%;
	font-size: 16px;
	background-color: #242424; /* Цвет фона */
	color: #b20522; /* Цвет текста */
	font-weight: bold;
	bottom: 0px;

	border-radius: 8px; /* Закругленные углы */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Тень */
}

@media (max-width: 600px) {
	.notification {
		display: none;
	}
}
@media (max-width: 900px) {
}
