.cardContainer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.card {
	color: white;
	text-decoration: none;
	cursor: pointer;
	height: 100%; /* Высота карточки будет динамической */
	position: relative; /* Для позиционирования текста */
	overflow: hidden; /* Скрытие лишнего содержимого */
	border-radius: 8px; /* Радиус углов карточки */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень карточки */
	transition: transform 0.3s; /* Плавный переход при наведении */
}

.card:hover {
	transform: scale(1.01); /* Увеличение карточки при наведении */
}
.addToCartButton:hover {
	transform: scale(1.05); /* Увеличение карточки при наведении */
}
.cardImage {
	width: 100%;
	height: 206px; /* Фиксированная высота для изображения */
	background-size: cover; /* Обложка для заполнения карточки */
	background-position: center; /* Центрирование изображения */
}
.productName {
	font-weight: bold;
}
.ingridients {
}
.ingridientsSpan {
	font-weight: bold;
}
.cardText {
	padding: 10px; /* Отступы для текста */
}

.priceContainer {
	display: flex;
	justify-content: space-between; /* Распределение по краям */
	align-items: center; /* Центрирование по вертикали */
}

.addToCartButton {
	background-color: #b20522; /* Цвет кнопки */
	color: white; /* Цвет текста кнопки */
	border: none; /* Убираем границу */
	padding: 10px 15px; /* Отступы для кнопки */
	border-radius: 5px; /* Радиус углов кнопки */
	cursor: pointer; /* Курсор при наведении */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 1024px) {
	.cardContainer {
		grid-template-columns: repeat(
			4,
			1fr
		); /* Максимум 4 карточки в строке для планшетов */
	}
}

@media (max-width: 768px) {
	.cardContainer {
		grid-template-columns: repeat(
			3,
			1fr
		); /* Максимум 3 карточки в строке для мобильных */
	}
}

@media (max-width: 560px) {
	.cardContainer {
		grid-template-columns: repeat(
			2,
			1fr
		); /* Максимум 2 карточки в строке для маленьких мобильных */
	}
}

@media (max-width: 350px) {
	.cardContainer {
		grid-template-columns: 1fr; /* Одна карточка в строке для очень маленьких экранов */
	}
}
